<img src="/assets/img/burger.png.jpg">
<header>Eat the burger if you can</header>

<br>

<form class="create">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

<br>

  <button type="submit">Add Burger</button>
</form>

<div class="rightcontainer">
  {{#each burgers}}
    {{#if devoured}}
      {{> burger/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</div>

<div class="leftcontainer">
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</div>