body {
    background-image: url("https://images.pexels.com/photos/347139/pexels-photo-347139.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header {
    font-size: 25px;
    text-align: center;

}

img {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    padding-top: 5px;

}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.form-group {
    text-align: center;
}

.devoured {
    text-align: center;
    opacity: 50%;
    margin-bottom: 5px;
}

.notdevoured {
    text-align: center;
    margin-bottom: 5px;
}

#burger-add {
    width: 45%;
    float: left;
    background: rgb(3, 39, 104);
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}

#burger-ate {
    width: 45%;
    float: right;
    background: rgb(230, 5, 5);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.container{
    text-align: left;
    background: rgba(0,0,0,0.75);
    border-top: none;
    padding-left: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    display: block;
}

button{
    margin-left: auto;
    margin-right: auto;
}